# compiler artifacts
**/artifacts/
**/artifacts/**

**/cache/
**/cache/**

node_modules/*

# Remix plugin state folders
deps/
states/

AGENTS.md
docs/prompts

*.dbg.json
*.tsbuildinfo


*.og
.env
.env.local

.vscode
.vscode-insiders
.code
.code-insiders
