{
  "hardhat": {
    "token": "",
    "treasury": "",
    "charity": "",
    "staking": "",
    "feed": "",
    "gate": "",
    "UniswapV3Factory": "",
    "UniswapV3SwapRouter": "",
    "UniswapV3PositionManager": "",
    "weth": "",
    "quote": "",
    "pool": "",
    "poolFee": 3000,
    "positionId": ""
  },
  "sepolia": {
    "token": "",
    "treasury": "",
    "charity": "",
    "staking": "",
    "feed": "",
    "gate": "",
    "UniswapV3Factory": "0x1F98431c8aD98523631AE4a59f267346ea31F984",
    "UniswapV3SwapRouter": "0xE592427A0AEce92De3Edee1F18E0157C05861564",
    "UniswapV3PositionManager": "0xC36442b4a4522E871399CD717aBDD847Ab11FE88",
    "weth": "",
    "quote": "",
    "pool": "",
    "poolFee": 3000,
    "positionId": ""
  },
  "mainnet": {
    "token": "",
    "treasury": "",
    "charity": "",
    "staking": "",
    "feed": "",
    "gate": "",
    "UniswapV3Factory": "0x1F98431c8aD98523631AE4a59f267346ea31F984",
    "UniswapV3SwapRouter": "0xE592427A0AEce92De3Edee1F18E0157C05861564",
    "UniswapV3PositionManager": "0xC36442b4a4522E871399CD717aBDD847Ab11FE88",
    "weth": "",
    "quote": "",
    "pool": "",
    "poolFee": 3000,
    "positionId": ""
  }
}
